<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <ul>
        <li th:each="card: ${cards}">
            <span th:text="${card.name}" />
            <span th:text="${card.estimatedValue()}"/>
            <a th:href="'/edit/'+${card.getId}">Edit</a>
           <!-- <span th:if="${person.needsSalaryRaise}"> (!)</span>
            <a th:href="'/edit/'+${person.getId}">Edit</a> -->
        </li>
        <li><a th:href="@{/createCardPage}">New Card</a></li>
        <li><a th:href="@{/custom}">List cards by rarity</a></li>
        <li><a th:href="@{/newCollection}">New Collection</a></li>
        <li><a th:href="@{/firstCalc}">Value Calculator</a></li>
    </ul>
</body>
</html>